@{
    Html.AppendCssFileParts("~/lib/ionicons/css/ionicons-2.0.1.min.css");

    //page title
    ViewBag.Title = T("Admin.Directory.Shifts").Text;

}
<nop-antiforgery-token />
<div class="content-header">
    <h1>
        @T("Admin.Directory.Shifts")
    </h1>
</div>
<div class="content">
</div>
